

/* Estilos generales */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.video{
    width: 100vw;
    height: 100vh;
    object-fit:cover;
}

/* Estilos para el encabezado */

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	background: rgb(249, 195, 107);
	
}

nav li {
	margin-right: 25px;
	display: block;
    padding: 25px;
    color: rgb(0, 0, 0);
	
}

nav ul li:hover {
    background: rgb(250, 211, 148);
	display: block;
	
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: rgb(0, 0, 0);
	font-size: larger;
}

nav a:hover {
	color: rgb(0, 0, 0);
}

/* Estilos para la sección de imagen grande */

.imagen-principal {
    width: 100%;
}

section:nth-child(2) {
	position: relative;
}

section:nth-child(2) img {
	width: 100%;
}

/* Estilos para la sección de búsqueda */

form {
	display: flex;
}

input[type="text"] {
	flex: 1;
	padding: 10px;
	border: none;
}

.text {
	font-size: x-large;
    font-style:normal;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(222, 222, 222);
    padding: 5rem;
	
}

/* Estilos para la galería de imágenes */

.p {
	color: rgb(87, 87, 87);
	margin: 8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.ciudad {
	font-size: xxx-large;
	padding: 2rem;
	color: rgb(0, 0, 0);
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section:nth-child(4) {
	margin-top: 200px;
	
}

.galeria {
	flex-wrap: wrap;
	height: 30%;
	width: 45%;
}

.galeria img {
	width: 100%;
	height: auto;
	
}

.galeria a:hover img {
	opacity: 0.7;
}

.servicios {
	color: rgb(0, 0, 0);
	background: rgb(196, 196, 196);
	padding: 50px;
	width: 100%;
	font-size:x-large;
    padding: 2rem;
}

.flex {
	padding: 40PX;
}

ul {
	width: 100%;
	font-size:large;
}

.contaner {
    opacity: 0.9;
	color: rgb(0, 0, 0);
}

.formulario {
    margin-right:0vh;
    width: 215%;
	font-size:large;
	list-style: none;
}

.footer {
    margin-bottom: 100px; /* o padding-bottom: 50px; */
  }
